
/* Classes */
.textH1{
    color:#ffecec;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #8e7ab5;
    background-size: auto;
    margin-top: -20px;
    padding: 0px;
    
}
.textH2{
    color: #6c59a1;
    font-weight: bold;
    background-color: #e9b9cc;
    padding: 0px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #8e7ab5;
    border-radius: 10px 100px / 120px;
    border-style: inset;    
}

.paragraphChicxulub{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: justify;
    size: 15px;
    border: 6px solid #a08f7a;
    padding: 10px;
    margin: 10px 10px;
    background-color: #ffecec;
    width: 91%;
    height: 91%;
    margin-left: 4%;
    margin-right: 10%;
}

/*Id elements*/
#links{
    font-weight: bold;
    color: black;
}
/*Elements*/

p{
    color:#6c59a1;

}

img{
    position: relative;
    border: 3px solid white;
    width: 30%;
    height: 25%;
    top: 5%;
    left: 5%

}


