h1{
    text-align: center;
    font-size: 40px;
    font-weight: 50;
    color:antiquewhite;
    background-color: #8E7AB5;
    font-family: cursive;
    border: 10px;
    margin: 20px;
    border-style: solid;
    padding: 10px;
    line-height: 60px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 60;
    font: bolder;
    font: italic;
    color: #8a74b4;
    background-color: #e9b9cc;
    font-family: cursive;
    grid-area: a;
    border: 2%;
    margin: 30px;
    border-style: solid;
    border-radius: 30%;
    padding: 1%;
    width: 60%;
    position: relative;
    margin-left: 20%;
    line-height: 20px;
   
}

h3{
    text-align: center;
    font-size: 25px;
    font-weight: 50;
    font: bolder;
    color: #f3f3f3;
    background-color: #E493B3;
    font-family: cursive;
    line-height: 20px;
    border: 2%;
    margin: 30px;
    border-style: solid;
    border-radius: 30%;
    padding: 1%;
    width: 60%;
    position: relative;
    margin-left: 20%;
}


li{
    text-align: justify;
    font-size: 16px;
    font-weight: 100px;
    color: #8E7AB5;
    font-family: cursive;
}

p{
    text-align: justify;
    font-size: 14pt;
    font-weight: 100px;
    color: #8E7AB5;
    font-family: cursive;
    grid-area: a;
}

img{
    position: relative;
    top: 10px; 
    left: 30%;
}